header{
    background-color: $secondary;
    padding: 92px;
    section{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
    }
    .logo{
        a{
            background: url(../img/BMICLogo.png) no-repeat center;
            background-size: contain;
            @include hide-text;
            width: 117px;
            height: 117px;
            color: $primary;
        }
    }
    .bodyInfo{
        label{
            color: $primary;
            font-size: 18px;
        }
        input{
            display: block;
            width: 250px;
            padding: 8px 16px;
            font-size: 24px;
            color: white;
            background: rgba(255,255,255,0.18);
            border: 2px solid #FFD366;
            border-radius: 10px;
        }
        .inputHeight{
            margin-bottom: 23px;
        }
    }
    .btn{
        position: relative;
    }
    .calculate{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: $primary;
        color: $secondary;
        font-size: 24px;
        &:hover{
            box-shadow: 0 0 5px 5px rgba(255,196,50,.64);
        }
    }
    .status{
        display: none;
        font-size: 32px;
        .status-inner{
            position: relative;
            padding: 20px 18px;
            margin-right: 18px;
            border-radius: 50%;
        }
        a{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        p{
            font-size: 14px;
        }
    }
}

main{
    background: $gray;
    padding: 48px 0 74px;
    .clearAllBtn{
        font-size: 14px;
        display: none;
        a{
            display: inline-block;
            color: $secondary;
            &:hover{
                color: gray;
            }
        }
    }
    h2{
        font-size: 24px;
        color: $secondary;
        margin-bottom: 36px;
    }
    .bmiList li{
        display: flex;
        align-items: center;
        max-width: 624px;
        margin: 0 auto;
        padding: 20px 12px;
        background: white;
        color: $textColor;
        font-size: 20px;
        margin-bottom: 16px;
    }
    .itemText{
        margin-right: 70px;
        font-size: 20px;
    }
    h4{
        font-size: 12px;
        color: $secondary;
        margin-right: 7px;
    }
    p{
        margin-right: 42px;
    }
    a{
        margin: 0 12px 0 auto;
        font-size: 12px;
    }
}

footer{
    padding: 18px;
    background: $primary;
    a{
        @include hide-text;
        background: url(../img/BMICLogo-black.png) no-repeat;
        width: 55px;
        height: 55px;
        margin: 0 auto;
    }
}
